section:not(:last-child) {
    margin-bottom: 60px;
}

h2 {
    font-family: 'Delius Unicase';
    font-size: 36px;
    text-align: center;
    color: #000;
    letter-spacing: 0.05 em;
    margin-bottom: 40px;
    text-align: center;
}

h3 {
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 500;
    font-weight: 500;
    color: #fff;
    margin-right: 10px;
    text-align: center;
}

span {
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 400;
    color: #E0E0E0;
    text-align: center;
}

.grid-photo {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 30px;
}

.grid-photo__item {
    position: relative;
    grid-column: span 1;
    grid-row: span 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    border-radius: 20px;
    overflow: hidden;
}

img {
    object-fit: fill;
}

.grid-photo__item::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(360deg, #241F24 0%, rgba(91, 91, 91, 0.447552) 34.11%, rgba(187, 186, 192, 0.26) 62.5%);
    opacity: 1;
    transition: opacity .3s ease;
}

.grid-photo__item:hover::after {
    opacity: 0;
}

.grid-photo__item-top {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.grid-photo__item-bottom {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.grid-photo__item-top button {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(224, 224, 224, 0.5);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color .3s ease;
}

.grid-photo__item-top button:hover {
    background-color: #E0E0E0;
}

.grid-photo__item-top button .icon {
    width: 20px;
    height: 20px;
}